// Global color scheme
$primary-blue: #0a4595;
$dark-gray: #333;
$secondary-blue: #0099d8;
$light-gray: #eee;
$green: rgba(97, 175, 95, 0.4);
$yellow: rgb(255, 240, 80);
$red: #f25c05;

$box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.4);

@mixin matrix-line {
	display: flex;
	align-items: center;
	height: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section {
	margin-top: 68px;
	height: calc(100vh - 68px);
}

// Navbar /////////////////////////////////
nav {
	display: flex;
	background: $primary-blue;
	color: #fff;
	height: 50px;
	line-height: 50px;
	justify-content: space-between;
	padding: 0 15px;
	#title-logo {
		display: flex;
		align-items: center;
		margin: 0;
		h3 {
			margin: 0 2px;
			font-weight: 400;
			font-size: 1.5rem;
		}
		i {
			margin-right: 3px;
		}
	}
	#nav-links {
		ul {
			display: flex;
			padding: 0;
			li {
				list-style-type: none;
				padding: 0 10px;
				transition: all 0.5s;
				&:hover {
					background-color: darken($primary-blue, 10%);
					cursor: pointer;
				}
			}
		}
	}
}

.sticky-header {
	position: fixed;
	top: 0%;
	width: 100%;
}

.criteria-pro-tip {
	background-color: #fff;
	font-size: 0.9rem;
	text-align: center;
	border-bottom: 2px solid $dark-gray;
	i {
		margin-left: 3px;
	}
}

.date-header {
	font-size: 1.2rem;
	border-bottom: 2px solid $dark-gray;
	@include matrix-line();
	justify-content: center;
}

// Matrix ////////////////////////////////
.matrix-line {
	@include matrix-line();
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	padding: 0 30px;
}

#matrix {
	margin-top: 88px;
}

.green {
	background-color: $green;
}

.yellow {
	background-color: $yellow;
}

.red {
	background-color: $red;
	color: #fff;
}

// Criteria //////////////////////////////
#criteria-popup {
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -42.5%;
	box-shadow: 0px 7px 20px 7px rgba(51, 51, 51, 0.5);
	width: 85%;
	border: solid 1px #fff;
	text-align: center;
}

.criteria-name {
	background-color: $primary-blue;
	color: #fff;
	border-bottom: solid 1px #fff;
	padding: 5px;
}

.criteria-table {
	display: flex;
	width: 100%;
	background-color: #fff;
}

.criteria-table div {
	padding: 5px 0;
	flex-grow: 1;
}

.display-none {
	display: none;
}

// loader //////////////////////////
.loader {
	text-align: center;
	color: $primary-blue;
	font-size: 2rem;
	i {
		margin-right: 8px;
	}
}

.rotate {
	animation: rotate 2s linear infinite both;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

// Chart JS //////////////////////////////
.chart {
	width: 100%;
	height: 65%;
	padding: 20px;
	background-color: #fff;
	@media (min-width: 600px) {
		height: 100%;
	}
}
