* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section {
  margin-top: 68px;
  height: calc(100vh - 68px);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0a4595;
  color: #fff;
  height: 50px;
  line-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

nav #title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

nav #title-logo h3 {
  margin: 0 2px;
  font-weight: 400;
  font-size: 1.5rem;
}

nav #title-logo i {
  margin-right: 3px;
}

nav #nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

nav #nav-links ul li {
  list-style-type: none;
  padding: 0 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav #nav-links ul li:hover {
  background-color: #072f65;
  cursor: pointer;
}

.sticky-header {
  position: fixed;
  top: 0%;
  width: 100%;
}

.criteria-pro-tip {
  background-color: #fff;
  font-size: 0.9rem;
  text-align: center;
  border-bottom: 2px solid #333;
}

.criteria-pro-tip i {
  margin-left: 3px;
}

.date-header {
  font-size: 1.2rem;
  border-bottom: 2px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matrix-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 0 30px;
}

#matrix {
  margin-top: 88px;
}

.green {
  background-color: rgba(97, 175, 95, 0.4);
}

.yellow {
  background-color: #fff050;
}

.red {
  background-color: #f25c05;
  color: #fff;
}

#criteria-popup {
  position: fixed;
  top: 12px;
  left: 50%;
  margin-left: -42.5%;
  -webkit-box-shadow: 0px 7px 20px 7px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 7px 20px 7px rgba(51, 51, 51, 0.5);
  width: 85%;
  border: solid 1px #fff;
  text-align: center;
}

.criteria-name {
  background-color: #0a4595;
  color: #fff;
  border-bottom: solid 1px #fff;
  padding: 5px;
}

.criteria-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fff;
}

.criteria-table div {
  padding: 5px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.display-none {
  display: none;
}

.loader {
  text-align: center;
  color: #0a4595;
  font-size: 2rem;
}

.loader i {
  margin-right: 8px;
}

.rotate {
  -webkit-animation: rotate 2s linear infinite both;
          animation: rotate 2s linear infinite both;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.chart {
  width: 100%;
  height: 65%;
  padding: 20px;
  background-color: #fff;
}

@media (min-width: 600px) {
  .chart {
    height: 100%;
  }
}
/*# sourceMappingURL=aviation-mobile.css.map */